name: Node
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 10x
      uses: actions/setup-node@v1
      with:
        node-version: 10x
    - name: yarn install, lint, and test
      run: |
        yarn install
        yarn lint
        yarn test
